<section id="faq">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <h3 class="section-title">
            Domande frequenti
          </h3>
        </div>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Posso fidarmi di GreenShares?
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Assolutamente si. Ogni mese pubblicheremo un estratto conto del
              ricavato e del devoluto in modo da dimostrarti la più completa
              trasparenza e la nostra buona volontà. Troverai maggiori
              informazioni nella pagina
              <a href="https://greenshares.it/trasparenza">Trasparenza</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Il mio acquisto quanto genererà in donazioni?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              La donazione che verrà generata dal tuo acquisto viene calcolata
              sulla base delle politiche imposte da Amazon, che si differenziano
              a seconda della categoria merceologica acquistata e variano da un
              minimo di 1,5% ad un massimo di 11%.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                È Amazon a fare le donazioni?
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              No, GreenShares in qualità di affiliato Amazon riceverà un
              guadagno per ogni acquisto idoneo. Non c’è nessun rapporto di
              partnership tra GreenShares e Amazon.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFor">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFor"
                aria-expanded="false"
                aria-controls="collapseFor"
              >
                Come posso rendere un acquisto su Amazon una donazione?
              </button>
            </h2>
          </div>
          <div
            id="collapseFor"
            class="collapse"
            aria-labelledby="headingFor"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Per rendere il tuo acquisto una donazione dovrai:
              <ul>
                <li>
                  Incollare il link del prodotto nell’apposito form del sito
                </li>
                <li>Cliccare sul pulsante “Genera link”</li>
                <li>
                  Cliccare sul pulsante “Acquistalo ora”, che ti rimanderà su
                  Amazon
                </li>
                <li>
                  Completare l’acquisto su Amazon. Ti ricordiamo che hai 24 ore
                  per portarlo a termine, diversamente Amazon non ci riconoscerà
                  il guadagno da trasformare in una donazione. Qualcosa non ti è
                  chiaro? Scrivici pure, saremo a tua completa disposizione.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Darete tutti i soldi in beneficenza?
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              GreenShares è un progetto senza scopo di lucro. Doneremo **tutti**
              i soldi in beneficenza, senza trattenere nessuna commissione.
              Troverai maggiori informazioni nella pagina
              <a href="https://greenshares.it/trasparenza">Trasparenza</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
