<!-- Footer -->
{% include facebook-messenger.html %}

<footer>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-5">
          <h6>GreenShares</h6>
          <p>
            Rendi ogni tuo acquisto un piccolo, concreto contributo per il
            mondo. Finanzia progetti benefici con ogni tuo acquisto su Amazon
            effettuato tramite GreenShares. Senza costi aggiuntivi.
          </p>
        </div>
        <div class="col-2"></div>
        <div class="footer-col col-5">
          <ul class="list-inline">
            {% for page in site.pages %}
            <li>
              <a  href="{{ page.url }}">{{ page.page-title }} </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          {% for network in site.social %}
          <a class="social" href="{{ network.url }}" target="_blank"
            ><i class="fab fa-{{ network.title }}"></i></a
          >
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            {{ site.name }}, made with ❤️ by
            <a href="https://sprintstudio.co" target="_blank">Sprint Studio</a>
            All rights reserved. Copyright &copy; {{ site.footer.copyright }}
            20{{ site.time | date: '%y' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
