<!-- Header -->
<header id="header">
  <div class="row">
    <div class="col-12">
      <div class="hero">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-sm-12 col-md-8">
            <h1>Ogni mese supportiamo una giusta causa</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <div class="jumbotron text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillu
        </p>
        <form>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Inserisci l'url del prodotto che vuoi acquistare"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-success" type="button">
                Go to Amazon
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
