<div class="row">
  <div class="col-sm-12 col-md-12">
    <form name="form-newsletter" onSubmit="return false;">
      <div class="form-group">
        <input
          type="text"
          name="name"
          class="form-control required email"
          placeholder="Il tuo nome..."
          required=""
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control required email"
          placeholder="La tua email..."
          required=""
        />
      </div>

      <label class="control-label text-muted">
        Proseguendo accetti la nostra privacy policy :)
      </label>

      <div class="form-group">
        <button class="btn btn-primary btn-newsletter">
          Iscriviti
        </button>
      </div>
    </form>
  </div>
</div>
